* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#circle{
   width: 120px;
   height: 120px;
   margin: 300px auto;
   border-radius: 60px;
   background: rgb(255, 255, 255);
   box-shadow: 0 0 0 50px yellow,
               0 0 0 100px blue;
}

p {
    padding: 18px;
    text-align: center;
    font-size: 58px;
}   
