* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    width:800px ;
    height:800px;
    margin: 300px auto;
    border: 3px solid white;
    border-collapse: collapse;
    box-shadow: 0px 0px 0px 3px rgb(12, 12, 12);
    }
td {
    width:100px ;
    height:100px;
    border: 1px solid white;
    text-align: center;
    font-size: 60px;
     } 
 
tr:nth-child(odd) td:nth-child(odd){
    background-color: #c5bebe;
}

tr:nth-child(even) td:nth-child(even){
    background-color: #c5bebe;
}    

