* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.title {
    margin: 50px auto;
    text-align: center;
}
.conteiner {
    display: flex;
    position: relative;
    height: 100%;
    min-height: 300px;
    width: 100%;
    max-width: 800px;
    margin: 20px auto 0;
    border: 2px solid rgb(224, 225, 226);
}
.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65px;
    width: 45px;
    height: 45px;
    border: 2px solid rgb(224, 225, 226);
    border-radius: 50%;
    background-color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.slide__left {
    z-index: 5;
    left: -25px;
    transform: rotate(180deg);
}

.slide__right{
    right: -27px;
    z-index: 5;
    /*background-color: rgb(168, 47, 47);*/
}

.card {
    position: relative;
    width: 100%;
    min-width: 200px;
    padding: 0 20px;
    font-size: 0.9rem;
}

.card:not(:last-child) {
    border-right: 2px solid rgb(224, 225, 226);
}
.product-category{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    padding-top: 29px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(224, 225, 226);
    overflow: auto;
    
}

.product-category a {
    text-decoration: none;
    color: rgb(139, 141, 145);
    
}



.product-images img {
    width: 130px;
    height: 170px;
    margin-left: 13px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.product-title a {
    display: flex;
    justify-content: center;
    align-items: center;   
    font-size: .95rem;
    font-weight:  bold;
    text-decoration: none;
    color:rgb(29, 178, 247); 
    
}
.price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 0.8rem;
      

}
 .old-pr{
    text-decoration:  line-through;
 }

 .new_pr {
    font-weight:  bolder;
    font-weight:  bold;
    margin-right: 5px;
 }
  
.btn  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight:  bold;
    }

.btn_soon {
  background-color: rgb(245, 31, 131); 
  color: white;
}

.btn_action {
cursor: pointer;
background-color:rgb(247, 247, 29);
}

.stiker{
    position: absolute;
    top: -35px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 74px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
    font-size: 0.7rem;
 }

.stiker__new {
     background-color: rgb(57, 187, 17);
     color: aliceblue;
}    

.stiker__hit{
    background-color: rgb(52, 219, 248);
    color: rgb(12, 12, 12);
}
/*----------Global style-------*/

.tr {
  text-transform: uppercase;
  }



